<!DOCTYPE html>
<html>
    <head>
        <title>SKW blog</title>
    </head>

    <body>
        <header>
            <h1><a href="/">SKW Blog</a></h1>
        </header>

        <article>
            <time>published: 17.09.2025, 22:02</time>
            <h2><a href="">My first post</a></h2>
            <p>My name is see kheng wei and this is my journey from learning frontend development skills</p>
        </article>

        <article>
            <time>published: 17.09.2025, 22:02</time>
            <h2><a href="">My second post</a></h2>
            <p>So far i have only learn python and created my very own chess app</p>
        </article>
    </body>
</html>
